* {
  margin: 0;
}

html,
body {
  --black: hsla(240, 6%, 13%);

  --grey: hsla(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

  background-color: rgb(38, 38, 39);
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  transform: scale(0.9);
  transition: all ease 0.2s;

  position: relative;
}

.avatar:hover {
  transform: scale(1);
}

.avatar span {
  position: absolute;
  top: -15px;

  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  /* a img irá se adaptar dentro da largura e altura definida */
  object-fit: cover;

  /* bennettfeely.com/clippy/ */
  clip-path: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  ); /* hexagono */
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  padding: 0;

  list-style: none;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

li img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

li img:hover {
  transform: scale(1);
  -webkit-box-shadow: -1px 0px 15px 0px #ce006e;
  box-shadow: -1px 0px 15px 0px #ce006e;
}

.logo {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
  .avatar span {
    top: 5px;
    left: -2.5rem;
  }
  p {
    font-weight: bold;
  }
}

@media (min-width: 481px) and (max-width: 720px) {
  main {
    background: url(images/Desktop.svg) no-repeat center/cover;
  }
  .avatar,
  .avatar span {
    padding-top: 1.65rem;
  }

  .avatar span {
    top: 5px;
    left: -2.5rem;
  }

  ul {
    margin-top: 2.5rem;
  }

  p {
    font-weight: bold;
  }
}

@media (min-width: 721px) {
  main {
    background: url(images/Desktop.svg) no-repeat center/cover;
  }
  .avatar,
  .avatar span {
    padding-top: 1.5rem;
  }

  ul {
    margin-top: 2.5rem;
  }

  .avatar span {
    top: 5px;
    left: -2.5rem;
  }

  p {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
